#container {
	font-size: 24px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

#description {
	font-size: 1.5em;
}


#title {
	font-size: 2em;
}

#countdown {
	display: inline-block;
}

#countdown > span {
	font-family: 'Varela Round', sans-serif;
	font-family: 'Orbitron', sans-serif;
	font-family: 'Roboto', sans-serif;


	float: left;
	padding: 2em;
	padding-bottom: 1em;
}

.number {
	font-size: 3.3em;
	font-weight: 100;
}

.header {
	font-size: 1em;
}

#container, #description, #countdown {
	padding-top: 1em;
	margin:0 auto;
}

#description {
	max-width: 50em;
	white-space: pre;
	padding-bottom: 50px;
}

.clearer {
	clear: both;
}

@media only screen and (max-width: 800px) {
	#container {
		font-size: 20px;
	}
}

@media only screen and (max-width: 670px) {
	#container {
		font-size: 16px;
	}
	#description, .header {
		font-size: 1em;
	}
}

@media only screen and (max-width: 540px) {
	#container {
		font-size: 12px;
	}
	#description, .header {
		font-size: 16px;
	}
}

@media only screen and (max-width: 420px) {
	#container {
		font-size: 10px;
	}
	#description, .header {
		font-size: 16px;
	}
}

@media only screen and (max-width: 390px) {
	#container {
		font-size: 8px;
	}
	#description, .header {
		font-size: 10px;
	}
}
