body {
	font-size: 12px;
	text-align: center;
}

#description {
	font-size: 1.5em;
}
@media only screen and (max-width: 650px) {
    body {
    	font-size: 8px;
    }
	#description {
		font-size: 1.5em;
	}
}

@media only screen and (max-width: 434px) {
    body {
    	font-size: 6px;
    }
	#description {
		font-size: 2em;
	}
}

@media only screen and (max-width: 334px) {
    body {
    	font-size: 4px;
    }
	#description {
		font-size: 3em;
	}
}

#title {
	font-size: 3em;
}

#countdown {
	display: inline-block;
}

#countdown > span {
	font-family: 'Varela Round', sans-serif;
	font-family: 'Orbitron', sans-serif;
	font-family: 'Roboto', sans-serif;


	float: left;
	padding: 2em;
}

.number {
	font-size: 8em;
	font-weight: 100;
}

.header {
	font-size: 2em;
}

#container, #description, #countdown {
	padding-top: 5em;
	margin:0 auto;
}

#description {
	max-width: 50em;
	white-space: pre;
}

.clearer {
	clear: both;
}

